@import 'variables.scss';

header {
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    height: 500px;
    border-bottom-left-radius: 50px;
    padding: 1.5rem;

    .header-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 13rem;

        h1,p{
            color: $white;
        }

        p{
            position: relative;
            margin-top: 1rem;
        }

        .btn{
            width: 137px;
            padding: 10px 20px;
            border-radius: 50px;
            text-decoration: none;
            color: $white;
        }

        .btn-free {
            background-color: $white;
            color: $light-red;
            text-decoration: none;
            position: relative;
            top: 1rem;
        }

        .btn-learn{
            border: 1px solid $white;
            background-color: transparent;
            color: $white;
            text-decoration: none;
            position: relative;
            top: 1rem;
        }

    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn-signup{
            background-color: $white;
            color: $light-red;
            padding: 10px 20px;
            border-radius: 50px;
            text-decoration: none;
        }

        .btn-login{
            background: transparent;
            color: $white;
            text-decoration: none;
        }


        .btn-menu {
            display: none;
        }

        .menu {
            display: flex;
            align-items: center;
            list-style: none;
            position: relative;
            right: 10rem;
            color: $white;
        
        .menu-category{
            margin: 0 20px;
        }

            .dropdown__nav {
                padding: 10px;
                margin-top: 1rem;
                visibility: hidden;

                .dropdown-nav__menu {
                    list-style: none;
                }
            }
        }
    }
}