@import 'variables.scss';

header {
    background-image: url(../images/bg-pattern-intro-desktop.svg),
        linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-repeat: no-repeat;
    background-position: 25% center;
    height: 600px;
    border-bottom-left-radius: 50px;
    padding: 1.5rem;


    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .dropdown__nav {
        background-color: $white;
        color: $very-dark-blue;
        width: 10.5rem;
        height: 9rem;
        overflow: hidden;
        visibility: hidden;
        position: absolute;
    }

    .arrow {
        transition: all .4ms ease-in-out;
        cursor: pointer;
    }

    .arrow:hover {
        transform: rotate(180deg);
    }

    .btn-menu {
        display: none;
        cursor: pointer;
    }

    .header-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 7rem;

        h1,
        p {
            color: $white;
        }


        p {
            position: relative;
            margin-top: 1rem;
        }

        .btn {
            width: 137px;
            padding: 10px 20px;
            border-radius: 50px;
            text-decoration: none;
            color: $white;
        }

        .btn-free {
            background-color: $white;
            color: $light-red;
            text-decoration: none;
            position: relative;
            top: 1rem;
            cursor: pointer;
            font-family: $overpass;
            font-weight: 700;
        }

        .btn-free:hover {
            background-color: $very-light-red-cta;
            color: $white;
        }

        .btn-learn {
            border: 1px solid $white;
            background-color: transparent;
            color: $white;
            text-decoration: none;
            position: relative;
            top: 1rem;
            font-family: $overpass;
            font-weight: 700;
        }


        .btn-learn:hover {
            background-color: $white;
            color: $very-light-red-cta;
        }

    }

    

        .icon-close {
            display: none;
        }

        .btn-signup {
            background-color: $white;
            color: $light-red;
            padding: 10px 20px;
            border-radius: 50px;
            text-decoration: none;
            font-family: $overpass;
            font-weight: 500;
        }

        .btn-signup:hover {
            background-color: $very-light-red-cta;
            color: $white;
        }

        .btn-login {
            background: transparent;
            color: $white;
            text-decoration: none;
        }


        .menu {
            display: flex;
            justify-content: space-between;
            list-style: none;
            position: relative;
            right: 10rem;
            color: $white;

            .menu-category a {
                margin: 0 20px;
                color: $white;
                text-decoration: none;
            }

            .menu-category:hover {
                text-decoration: underline;
            }

    
                

                .dropdown-nav__menu {
                        background-color: $white;
                        list-style: none;
                        cursor: pointer;
                        color: $very-dark-black-blue;
                        line-height: 23px;
                        border-radius: 5px;
                        padding: 10px;
                        margin-top: 1rem;
                        margin-left: 3rem;
                        visibility: hidden;
                    }

                .dropdown-nav__menu:hover {
                    color: $very-dark-blue;
                }
        }
}