@media(max-width: 768px) {
    header {
        background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        background-repeat: no-repeat;
        background-position: 25% 31%;
        width: 23.44rem;

        .header-box {
                margin-top: -18rem;
            }

        .navbar {
            justify-content: space-between;

            .hamburger{
                cursor: pointer;
            }

            .menu {
                background-color: $white;
                visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
                line-height: 47px;
                top: 5rem;
                width: 360px;
                height: 38rem;
                right: 21rem;
            }

            .dropdown-nav__menu {
                position: static;
            }

            .header-box{
                margin-top: -18rem;
            }

            .menu.show {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .btn-menu {
                display: inline-flex;
                border: none;
                background: none;
                outline: none;
                position: relative;
                top: 0.5rem;
                margin-left: 12rem;
            }

            .icon-close {
                display: none;
            }
        }

        h1 {
            width: 23rem;
            font-size: 30px;
            text-align: center;
        }

        p {
            text-align: center;
            position: relative;
            margin-top: 1rem;
            width: 18rem;
        }

    }

    // future section scss
    .future-container {
        width: 23.44rem;
        height: 67.9rem;
        .row {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
        }

        h1 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        h3 {
            width: 13rem;
            left: 3rem;
            text-align: center;
        }

        p {
            left: -1rem;
            text-align: center;
            width: 22rem;
        }

        .illustration-editor {
            left: 0;
        }
    }

    // infrastructure scss

    .infrastructure-container {
        width: 23.44rem;
        height: 625px;

        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .phone-img {
            width: 328px;
        }

        h2 {
            top: -7rem;
            left: 0;
            text-align: center;
        }

        p {
            width: 15rem;
            position: relative;
            text-align: center;
            top: -5.5rem;
            left: 4.5rem;
        }
    }

    // sources
    .source-container {
        width: 23.44rem;
        height: 57.9rem;
        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .illust-laptop {
            width: 328px;
            right: 0;
            top: 1rem;
        }

        h3 {
            right: 0rem;
            font-size: 28px;
            top: 3rem;
        }

        .source-2{
            top: 5rem;
        }

        p {
            right: 0rem;
            text-align: center;
            top: 4rem;
            width: 18rem;
        }
    }

    footer {
        width: 23.44rem;
        height: 900px;
        .foot-logo {
            top: 2rem;
        }

        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}