@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import '_header.scss';

// Primary Colors
$Light-red: hsl(356, 100%, 66%);
$Very-light-red: hsl(355, 100%, 74%);
$Very-dark-blue: hsl(208, 49%, 24%);

// Neutral colors
$White: hsl(0, 0%, 100%);
$Grayish-blue: hsl(240, 2%, 79%);
$Very-dark-grayish-blue: hsl(207, 13%, 34%);
$Very-dark-black-blue: hsl(240, 10%, 16%);

// Gradient colors - intro/CTA mobile nav
$Very-light-red: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

// Gradients - body
$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);
$body-text: 16px;
// fonts Ubuntu & Overpass
$Overpass: "Overpass", sans-serif;
$Ubuntu:  "Ubuntu", sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: $body-text;
}