@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
header {
  background-image: url(../images/bg-pattern-intro-desktop.svg);
  background-repeat: no-repeat;
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  height: 600px;
  border-bottom-left-radius: 50px;
  padding: 1.5rem;
}
header .arrow {
  transition: all 0.4s ease;
  cursor: pointer;
}
header .arrow:hover {
  transform: rotate(180deg);
}
header .header-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 13rem;
}
header .header-box h1, header .header-box p {
  color: hsl(0, 0%, 100%);
}
header .header-box p {
  position: relative;
  margin-top: 1rem;
}
header .header-box .btn {
  width: 137px;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
header .header-box .btn-free {
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
  text-decoration: none;
  position: relative;
  top: 1rem;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
header .header-box .btn-free:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}
header .header-box .btn-learn {
  border: 1px solid hsl(0, 0%, 100%);
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  position: relative;
  top: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
header .header-box .btn-learn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(355, 100%, 74%);
}
header .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .navbar .btn-signup {
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
}
header .navbar .btn-signup:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}
header .navbar .btn-login {
  background: transparent;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
header .navbar .btn-menu {
  display: none;
}
header .navbar .menu {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  right: 10rem;
  color: hsl(0, 0%, 100%);
}
header .navbar .menu .menu-category a {
  margin: 0 20px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
header .navbar .menu .menu-category:hover {
  text-decoration: underline;
}
header .navbar .menu .dropdown__nav {
  padding: 10px;
  margin-top: 1rem;
  visibility: hidden;
}
header .navbar .menu .dropdown__nav .dropdown-nav__menu {
  list-style: none;
  color: hsl(240, 10%, 16%);
}

.future-container {
  overflow-x: hidden;
}
.future-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.future-container h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: hsl(208, 49%, 24%);
  margin-top: 5rem;
}
.future-container h3 {
  font-family: "Ubuntu", sans-serif;
  color: hsl(208, 49%, 24%);
  margin-bottom: 2rem;
  position: relative;
  left: 9rem;
}
.future-container .editor-heading, .future-container .content-description {
  position: relative;
  top: 3rem;
}
.future-container p {
  line-height: 28px;
  width: 31rem;
  position: relative;
  left: 9rem;
}
.future-container .left-f-section {
  margin-left: 2rem;
}
.future-container .illustration-editor {
  position: relative;
  left: 14rem;
}

.infrastructure-container {
  background-color: hsl(237, 17%, 21%);
  height: 400px;
  background-image: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -14rem -26rem;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
.infrastructure-container h2, .infrastructure-container p {
  color: hsl(0, 0%, 100%);
}
.infrastructure-container h2 {
  font-size: 30px;
  position: relative;
  top: -7rem;
  left: 2rem;
}
.infrastructure-container p {
  line-height: 28px;
  width: 35rem;
  position: relative;
  top: -5.5rem;
  left: 2rem;
}
.infrastructure-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infrastructure-container .phone-img {
  position: relative;
  top: -4.5rem;
  margin-left: 4rem;
}

.source-container .row {
  display: flex;
  align-items: center;
}
.source-container h3 {
  color: hsl(208, 49%, 24%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  position: relative;
  right: 14rem;
  font-size: 30px;
  top: 5rem;
  margin-bottom: 1.5rem;
}
.source-container p {
  width: 31rem;
  line-height: 26px;
  position: relative;
  right: 14rem;
  top: 4rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  color: hsl(207, 13%, 34%);
}
.source-container .illust-laptop {
  position: relative;
  right: 17rem;
  top: 7rem;
}

footer {
  background-color: hsl(240, 10%, 16%);
  height: 359px;
  border-top-right-radius: 5rem;
}
footer h4 {
  color: hsl(0, 0%, 100%);
}
footer .c-heading {
  margin-top: -1.5rem;
}
footer .connect-heading {
  margin-top: -3.1rem;
}
footer .foot-logo {
  position: relative;
  top: -2rem;
}
footer .footer_navigation {
  list-style: none;
  line-height: 30px;
  margin-top: 4.5rem;
}
footer .footer_navigation a {
  color: hsl(240, 2%, 79%);
  text-decoration: none;
}
footer .footer_navigation a:hover {
  text-decoration: underline;
}
footer .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  header {
    width: 23.44rem;
  }
  header .navbar {
    justify-content: space-between;
  }
  header .navbar .menu {
    visibility: hidden;
  }
  header .navbar .menu.show {
    display: block;
  }
  header .navbar .btn-menu {
    display: block;
    border: none;
    background: none;
    outline: none;
    margin-left: 12rem;
  }
  header .navbar .icon-close {
    display: none;
  }
  header h1 {
    width: 23rem;
    font-size: 30px;
    text-align: center;
  }
  header p {
    text-align: center;
    position: relative;
    margin-top: 1rem;
    width: 18rem;
  }
  .future-container {
    width: 23.44rem;
  }
  .future-container .row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .future-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .future-container h3 {
    width: 13rem;
    left: 3rem;
    text-align: center;
  }
  .future-container p {
    left: -1rem;
    text-align: center;
    width: 22rem;
  }
  .future-container .illustration-editor {
    left: 0;
  }
  .infrastructure-container {
    width: 23.44rem;
    height: 625px;
  }
  .infrastructure-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infrastructure-container .phone-img {
    width: 328px;
  }
  .infrastructure-container h2 {
    top: -7rem;
    left: 2rem;
    text-align: center;
  }
  .infrastructure-container p {
    width: 15rem;
    position: relative;
    text-align: center;
    top: -5.5rem;
    left: 6rem;
  }
  .source-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .source-container .illust-laptop {
    width: 328px;
    right: 0;
    top: 1rem;
  }
  footer {
    width: 23.44rem;
    height: 900px;
  }
  footer .foot-logo {
    top: 2rem;
  }
  footer .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  position: relative;
}

header .dropdown__nav {
  background: hsl(0, 0%, 100%);
  color: hsl(208, 49%, 24%);
  width: 10.5rem;
  height: 9rem;
  overflow: hidden;
  position: absolute;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
}